#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
&KP Q   &KP W   &KP E   &KP R   &KP T   &KP Y   &KP U
&KP A   &KP S   &KP D   &KP F   &KP G   &KP H   &KP J
&KP Z   &KP X   &KP C   &KP V   &KP B   &KP N   &KP M
&MO 1   &KP LALT &KP LCTL &KP LSFT &KP SPC &KP LSHFT &MO 2  // ปุ่มสลับ Layer
&KP ESC &OUT_TOG &BT_SEL 0 &BT_SEL 1 &BT_SEL 2 &BT_SEL 3 &BT_SEL 4 // ปุ่มควบคุม Bluetooth/Output
            >;
        };

        // Layer 1: Numbers, Symbols, F-keys
        layer_1 {
            bindings = <
&KP N1  &KP N2  &KP N3  &KP N4  &KP N5  &KP N6  &KP N7
&KP N8  &KP N9  &KP N0  &KP MINS &KP EQUAL &KP LBKT &KP RBKT
&KP F1  &KP F2  &KP F3  &KP F4  &KP F5  &KP F6  &KP F7
&TRANS  &TRANS  &TRANS  &TRANS  &TRANS  &TRANS  &TRANS
&BT BT_CLR &BT BT_CLR &BT BT_CLR &BT BT_CLR &BT BT_CLR &BT BT_CLR &BT BT_CLR // ล้างการจับคู่
            >;
        };

        // Layer 2: Navigation and Media
        layer_2 {
            bindings = <
&KP F8  &KP F9  &KP F10 &KP F11 &KP F12 &KP HOME &KP END
&KP LEFT &KP DOWN &KP UP &KP RIGHT &KP PGUP &KP PGDN &KP ENTER
&MBUTTON &MS_UP &MS_DOWN &MS_LEFT &MS_RIGHT &VOL_UP &VOL_DN
&TRANS  &TRANS  &TRANS  &TRANS  &TRANS  &TRANS  &TRANS
&TO 0   &TO 0   &TO 0   &TO 0   &TO 0   &TO 0   &TO 0
            >;
        };
    };
};