#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row"; // ทิศทางไดโอด: คอลัมน์ไปแถว (Col to Row)

        // GPIOs สำหรับแถว (Rows)
        row-gpios
            = <&gpio0 29 (GPIO_PULL_DOWN)>  // R0 (P0.29)
            , <&gpio0 31 (GPIO_PULL_DOWN)>  // R1 (P0.31)
            , <&gpio1 0 (GPIO_PULL_DOWN)>   // R2 (P1.00)
            , <&gpio1 2 (GPIO_PULL_DOWN)>   // R3 (P1.02)
            , <&gpio1 4 (GPIO_PULL_DOWN)>   // R4 (P1.04)
            ;

        // GPIOs สำหรับคอลัมน์ (Columns)
        col-gpios
            = <&gpio0 17 (GPIO_PULL_UP)>    // C0 (P0.17)
            , <&gpio0 20 (GPIO_PULL_UP)>    // C1 (P0.20)
            , <&gpio0 22 (GPIO_PULL_UP)>    // C2 (P0.22)
            , <&gpio0 24 (GPIO_PULL_UP)>    // C3 (P0.24)
            , <&gpio0 11 (GPIO_PULL_UP)>    // C4 (P0.11)
            , <&gpio0 9 (GPIO_PULL_UP)>     // C5 (P0.09)
            , <&gpio0 6 (GPIO_PULL_UP)>     // C6 (P0.06)
            ;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <5>;
        cols = <7>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5) RC(0,6)
            RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5) RC(1,6)
            RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5) RC(2,6)
            RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5) RC(3,6)
            RC(4,0) RC(4,1) RC(4,2) RC(4,3) RC(4,4) RC(4,5) RC(4,6)
        >;
    };
};